@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Ubuntu', sans-serif;;
}

::-webkit-input-placeholder {
   color: rgb(255, 255, 255);
   font-size: 1rem;
}

:-moz-placeholder {
   color: rgb(255, 255, 255);
   font-size: 1rem;
}

::-moz-placeholder {
   color: rgb(255, 255, 255);
   font-size: 1rem;
}

:-ms-input-placeholder {  
   color: rgb(255, 255, 255);
   font-size: 1rem;
}
header {
    height: 8vh;
    background-color: #475569;
    padding: 1px;
    width: 100%;
    display: flex;
    align-items: center;
}

.circulo {
    background: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: 5vh;
}

.pesquisar {
    display: flex;
    align-items: center;
    background-color: #334155;

    width: 35%;
    max-width: 35em;
    min-width: 13em;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px 10px;
}
.pesquisar label{
    height: 24px;
}
#barraPesquisa {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    
}



main {
    flex: 1;
    height: 89vh;
    padding: 2rem;
    overflow: hidden;
    background-image:  linear-gradient(rgba(0, 0, 0, .7)), url(/assets/images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: start;
}

.bloco {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa {
    width: 100%;
    aspect-ratio: 3 / 2;
    background-color: #94a3b8;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}


.texto {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin: 0.5rem 0.75rem;
}
.intacto {
    background-color: rgb(138, 223, 138);
    color: white;
    padding: 15px 5px;
    width: fit-content;
    height: 3vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.avariado {
    background-color: rgb(253, 123, 123);
    color: white;
    padding: 15px 5px;
    width: fit-content;
    height: 3vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.check{
    width: 25px;
    height: 25px;
}

.cancel{
    width: 25px;
    height: 25px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.pagination {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #475569;
    border-radius: 5px;
    height: 40px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.pagination .page {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid white;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: .3;
    -webkit-transition: .3s;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}

.pagination .lastpage {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: .3;
    -webkit-transition: .3s;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}


.pagination .page:hover {
    background-color: rgb(168, 165, 170);
}

.pagination .page.ativa {
    background-color: #2b3440;
    color: rgb(255, 255, 255);
}

.pagination .control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pagination .control img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
}

.pagination .control:hover {
    color: rgb(10, 10, 10);
}

.pagination .control.prev {
    margin: 0px 5px
}

.pagination .control.next {
    margin-left: 10px;
}

.pagination .lastpage:hover {
    background-color: rgb(168, 165, 170);
}

.pagination .lastpage.ativa {
    background-color: #434e5e;
    color: rgb(255, 255, 255);
}


footer {
    height: 3vh;
    min-height: fit-content;
    background-color: #475569;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .bloco {
        max-width: 300px;
    }

    .texto {
        font-size: 1.1rem;
    
    }

}

@media (max-width: 992px) {
    .bloco {
        max-width: 250px;
    }

    .texto {
        font-size: 1.1rem;
        
    }

}

@media (max-width: 768px) {
    .bloco {
        max-width: 200px;
    }

    .texto {
        font-size: 0.8rem;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);

    }

}

@media (max-width: 576px) {
    .bloco {
        max-width: 150px;
    }

    .texto {
        font-size: 0.8rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 375px) {
    .bloco {
        max-width: 150px;
    }

    .texto {
        font-size: 0.7rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }
}